@model CRMApiClient.Models.Customer

@{
    ViewData["Title"] = "Details";
}
<style>
    .small-header {
        font-size: 1rem; 
        
    }
</style>

<div class="card">
    <div class="card-header ">
        <p class="small-header">Details : @Model.Vorname @Model.Nachname</p>
    </div>
    <div class="card-body">
        <div>
            <dl class="">

                <div class="row">

                    <div class="col-6">
                        <dt>
                            @Html.DisplayNameFor(model => model.Vorname)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Vorname)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Nachname)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nachname)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Wohnort)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Wohnort)
                        </dd>
                    </div>

                    <div class="col-6">

                        <dt>
                            @Html.DisplayNameFor(model => model.Postleitzahl)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Postleitzahl)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EmailAdresse)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EmailAdresse)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Erstellungsdatum)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Erstellungsdatum)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Änderungsdatum)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Änderungsdatum)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Interest_Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Interest_Name)
                        </dd>
                    </div>

                </div>
               

                

            </dl>

          

        </div>
    </div>

    <div class="card-footer">

        <p>
            @Html.ActionLink("Bearbeiten", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-success" })
            @Html.ActionLink("Zurück zur Liste", "Index", new { id = Model.Id }, new { @class = "btn btn-outline-secondary" })
        </p>
    </div>
</div>

